<footer class="td-footer row d-print-none">
  <div class="container-fluid">
    <div class="row mx-md-2">
      <div class="td-footer__center">
        Apache HoraeDB is an effort undergoing incubation at The Apache Software Foundation (ASF), sponsored by the Apache Incubator. Incubation is required of all newly accepted projects until a further review indicates that the infrastructure, communications, and decision making process have stabilized in a manner consistent with other successful ASF projects. While incubation status is not necessarily a reflection of the completeness or stability of the code, it does indicate that the project has yet to be fully endorsed by the ASF.<hr>

        {{ partial "footer/center.html"  . }}
      </div>
    </div>
    <hr/>
    <div class="row mx-md-2">
      <div class="td-footer__center">
        <span class="td-footer__copyright">
          Found a bug? Want to suggest a feature? <a href="https://github.com/apache/horaedb-docs/issues/new">Open an issue</a> or <a href="https://github.com/apache/horaedb-docs/pulls">submit a pull request</a> on GitHub. <br>
        </span>
      </div>
    </div>
    <hr/>
  </div>
</footer>
